
@import url('https://fonts.googleapis.com/css?family=Montserrat');


.table-striped > tbody > tr:nth-child(odd){
  background-color: #f4f4f4;
}

.table-hover > tbody > tr:hover{
  background-color: #e9e9e9; 
}


/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 100px;
  background: #fafafa url(../images/bg.png);
}



/*
 * Top navigation
 * Hide default border to remove 1px line.
 */

.navbar-fixed-top {
  border: 0;
  background: #1757b8;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.navbar-fixed-top h1{
	width: 150px;
	margin: 15px 0;
}

.navbar-fixed-top h1 img{
	width: 100%;
	height: auto;
}


.navbar-nav > li > a{
	color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.navbar-nav > li.active > a, .navbar-nav > li > a:hover{
  background: #092249;
}


.navbar-nav > li.info{
  padding: 15px 25px;
}

.navbar-nav > li.info span{
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}



/* Sidebar */


/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 101px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}




/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #34495e;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #34495e;
}


.nav-sidebar > li > ul{
  margin-bottom: 20px;
}

.nav-sidebar > li > ul li a{
  padding: 8px 30px;
  border-bottom: 1px dotted #ccc;
  color: #34495e;
  font-family: 'Montserrat', sans-serif;
}

.nav-sidebar > li > ul li.active a{
  background: #95a5a6;
  color: #f5f5f5;
}



/*
 * Main content
 */

.main {
  min-height: 100vh;
  padding: 20px;
}

.main .title{
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}


.main .title .filtro{
  margin-bottom: 0;
}


.main h2{
  margin: 0;
  float: left;
	color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}

.main h3{
	margin: 0 0 10px;
	font-size: 26px;
	color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}

.main h4{
  margin: 0 0 10px;
  font-size: 22px;
  color: #2c3e50;
  font-family: 'Montserrat', sans-serif;
}



.main .sub-title{
  margin: 30px 0;
  padding-bottom: 10px;
  overflow: hidden;
  border-bottom: 1px dashed #ccc;
}

.main .sub-title span{
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}


.main table td.verde{
  color: #26A65B;
  font-weight: 700;
}

.main table td.vermelho{
  color: #96281B;
  font-weight: 700;
}


.main .matricula{
  padding: 10px 15px;
  margin-left: 25px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background: #7f8c8d;
  color: #fff; 
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}



.boxes .panel{
  text-align: center;
}

.boxes .panel-heading{
  font-weight: 700;
  font-size: 13px;
}

.boxes .panel-body{
  height: 100px;
}

.boxes span{
  color: #34495e;
  font-size: 28px;
}

.boxes small{
  color: #888;
  font-size: 14px;
  display: block;
}



.vendas .panel{
  text-align: center;
}

.vendas .panel-heading{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: #444;
}


.vendas .panel-body p{
  margin-bottom: 15px;
}






/* Relatorio */

.table-responsive.relatorio{
  margin-bottom: 45px;
}

.table-responsive .total{
  padding: 10px 20px;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  text-align: right;
  background: #ddd;
  border-radius: 5px;
}

.table-responsive .total span{
  font-size: 18px;
}



footer{
	padding: 15px 0;
  margin-top: 100px;
	background: #ccc;
	color: #fff;
	font-size: 11px;
  position: relative;
  z-index: 99999;
}



.modal h3, .modal h4{
  font-family: 'Montserrat', sans-serif;
}

.modal-body{
  padding-bottom: 50px;
}

.modal-body ul{
  padding: 0 0 0 20px;
  list-style-type: circle;
}

.modal-body .btn{
  margin-top: 15px;
}

.modal-body .btn.remove{
  margin: 0;
  color: #e74c3c;
}


.modal-body table td.verde{
  color: #26A65B;
  font-weight: 700;
}

.modal-body table td.vermelho{
  color: #96281B;
  font-weight: 700;
}




/* Filtros */

.filtro{
  margin-bottom: 15px;
  overflow: hidden;
  display: block;
}




/* Forms */

.navbar-form{
  padding-left: 0;
}

.main .featurette{
  margin-top: 45px;
}

.main .featurette h3{
  margin-top: 10px;
}

.main .featurette .img-responsive{
  width: 100%;
}

.main .checkbox{
  margin-top: 30px;
}



.main .show-gerente{
  display: none;
}

.main .gerente{
  display: none;
}





/* Login */
.container.signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.container.signin h2{
	margin: 0 0 15px;
}

.container.signin .form-signin-heading,
.container.signin .checkbox {
  margin-bottom: 10px;
}

.container.signin .checkbox {
  font-weight: normal;
}

.container.signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.container.signin .form-control:focus {
  z-index: 2;
}

.container.signin .login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.container.signin .login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.container.signin .btn{
	margin-top: 15px;
  margin-bottom: 15px;
}



.main form h3{
  margin-top: 30px;
}

.main form .beneficiario{
  padding: 15px 20px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
  box-shadow: 0 2px 2px #ccc;
}

.main form .more{
  font-size: 14px;
}




.main .jumbotron{
  min-height: 290px;
}


.main .produtos{
  display: none;
}





.produtos .wrap-venda{
  margin-top: 30px;
}



.wrap-venda .item{
  padding: 15px;
  margin-bottom: 20px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}













@media print {
  .table-striped > tbody > tr:nth-child(odd){
    background-position: #333;
    color: #fff;
  }
}



